/* styles.css */

@font-face {
    font-family: "Anton";
    src: url("https://bram-vervust.github.io/my-fonts2/Anton.ttf")
         format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Riesling";
    src: url("https://bram-vervust.github.io/my-fonts2/riesling.ttf")
         format("truetype");
    font-weight: normal;
    font-style: normal;
}
